:local(.jumbotron) {
  color           : #eeeeee;
  text-align      : center;
  padding         : 20px;
  background-image: linear-gradient( 135deg, #6B73FF 10%, #000DFF 100%);
}

:local(.jumbotron) a {
  color          : #fff;
  text-decoration: none;
}

:local(.examples) {
  padding-top: 30px;
}